@using WebSiteBanSach.Models
@model List<Sach>
@{
    ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />

<hr />


<hr />
@section noiDungbenPhai{
    <div id="divBody">
        <h2 >Danh mục chủ đề</h2>
        @*Hien thi danh muc chủ đề*@
        @*
            <div style="float:left; width:30%;">
                @foreach (var item in (List<ChuDe>)ViewBag.lstChuDe)
                {
                    <a id="btnChuDe" style="width:250px; font-size: 11pt; color: aliceblue; text-decoration:none;">@item.TenChuDe</a>
                    <br />
                }
            </div>
        *@

        @*Hiển thị danh sách theo chủ đề*@

        @if (Model.Count == 0)
        {
            <h1>@ViewBag.Sach</h1>
        }


        @{ int i = 0;

            <div class="productGroup">
                @foreach (var item in Model)
                {
                    i++;
                <a href="@Url.Action("XemChiTiet","Sach", new { @MaSach=item.MaSach})">
                    <div id="SanPham">
                        <div id="AnhBia"><img src="@Url.Content("~/HinhAnhSach/"+item.AnhBia)" /></div>
                        <div id="ThongTin">
                            @if (item.TenSach.Length < 35)
                            {
                                <div id="TenSach" title="@item.TenSach">@item.TenSach</div>
                            }
                            else
                            {
                                <div id="TenSach" title="@item.TenSach">@item.TenSach.Substring(0, 35) ...</div>
                            }

                            <div id="DonGia" style="color:orange;"><font color="Green">Giá:</font>@item.GiaBan</div>
                        </div>
                    </div>
                </a>
                    if (i % 3 == 0)
                    {
                    <div style="clear:both"></div>
                    }
                    }
</div>
        }
    </div>
}
<div style="clear:both"></div>
<style>
    .item {
        display: none;
    }
    .rightSide{
        margin:unset;
    }
    #NoiDung{
        display:none;
    }
</style>