@using WebSiteBanSach.Models
@model List<Sach>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "SachTheoNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}



@{ int i = 0;}
@foreach (var item in Model)
{
    i++;
    <div id="SanPham">
        <div id="AnhBia"><img src="@Url.Content("~/HinhAnhSach/"+item.AnhBia)" width="100" height="150" /></div>
        <div id="ThongTin">
            @if (item.TenSach.Length < 35)
            {
                <div id="TenSach" title="@item.TenSach">@item.TenSach</div>
            }
            else
            {
                <div id="TenSach" title="@item.TenSach">@item.TenSach.Substring(0, 35) ...</div>
            }

            <div id="DonGia" style="color:orange;"><font color="Green">Gía:</font>@item.GiaBan</div>
        </div>
    </div>
    if (i % 3 == 0)
    {
        <div style="clear:both"></div>
    }
}
        <div style="clear:both"></div>

