@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*link css teamplate*@
    <link href="~/Content/NguoiDungCssLayout/fonts.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/screen.css" rel="stylesheet" />
    @*link thiet ke*@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
    @*font awesome*@
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    @*js*@
    <script src="~/Content/fontawesome/js/all.js"></script>
    @*Nivo slider*@

    <link href="~/NivoSlider/nivo-slider.css" rel="stylesheet" />
    <script src="~/NivoSlider/jquery-1.7.1.min.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.js"></script>
    <script src="~/NivoSlider/jquery.nivo.slider.pack.js"></script>
    
    <style>
        .container{
            background: transparent;
            padding: 0;
        }
        #logo {
            max-width: 80% !important
        }
        h1{
            color: #fff; 
        }
    </style>

</head>
<body>
    


    <section class="blank">
        @*Taọ div đăng ký đăng nhập*@
        <div class="flash">

            <div class="DangKyDangNhap">
                @if (Session["TaiKhoan"] != null)
                {
                    @Html.Action("GioHangPartial", "GioHang")
                    <i class="fas fa-user-alt"></i>
                    <a href="@Url.Action("DangXuat","NguoiDung")">Đăng xuất</a>

                }
                else
                {
                    <i class="fas fa-sign-in-alt"></i>
                    <a href="@Url.Action("DangKy","NguoiDung")">Đăng ký</a>
                    @*@Html.ActionLink("Đăng ký", "DangKy", null, htmlAttributes: new { @class = "DangKy" })*@

                    <i class="fa fa-unlock" aria-hidden="true"></i>
                    <a href="@Url.Action("DangNhap","NguoiDung")">Đăng nhập</a>
                    @* @Html.ActionLink("Đăng nhập", "DangNhap", null, htmlAttributes: new { @class = "DangNhap" })*@

                }

            </div>
        </div>


        <div class="flash success" id="divDanhMuc">
            <div id="txtTimKiem">

                @using (Html.BeginForm("KetQuaTimKiem","TimKiem", FormMethod.Post))
                {
                <div class="search">
                    @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập từ khóa" })
                    <div id="divHinhAnhTimKiem">
                        <button type="submit" style="margin-top:0px;">
                        @*<img src="~/HinhAnh/search.png" />*@
                            <div class="icon"></div>
                        </button>
                        @*<i class="fas fa-search"></i>*@
                    </div>
                </div>

                }

            </div>

            <ul class="navMenu">
                <li>
                    <a href="@Url.Action("Index","Home")">Trang chủ</a>
                </li>
                <li>
                    <a href="#">Giới thiệu</a>
                </li>
                <li>
                    <a href="#">Liên hệ</a>
                </li>
                <li>
                    <a href="#">Hướng dẫn</a>
                </li>
                <li>
                    <a href="#">Sách</a>
                </li>
            </ul>
        </div>
    </section>

    <section id="divMenuSlider">
        
        <div id="divMenuLeft">
            <div class="activity">
                @Html.Action("SachMoiPartial","Sach")
                
            </div>
        </div>
        @*chen nivo*@
                <div id="slider" class="nivoSlider"> 
                    <img src="~/HinhAnh/toystory.jpg"  />
                    <img src="~/HinhAnh/up.jpg"  />
                    <img src="~/HinhAnh/walle.jpg"  /> 
                    <img src="~/HinhAnh/nemo.jpg"   /> 
                    <img src="~/HinhAnh/slide.png"/>
                    <img src="~/HinhAnh/slide1.jpg"/>
                    <img src="~/HinhAnh/slide2.jpg"/>
                    <img src="~/HinhAnh/slide3.jpg"/>
                    <img src="~/HinhAnh/slide4.jpg"/>
                    <img src="~/HinhAnh/slide5.jpg"/>
                </div>
            <div style="clear:both"></div>
        
    </section>
    <div class="container">
        @RenderBody()
    </div>
   



    @*Footer*@
    <footer>
        <div class="container">
            <div class="grid">
                <div class="grid-4">
                    <img class="img-responsive" id="logo" alt="img" src="~/HinhAnh/wefi_logo.png"/>
                    </div>
                    <div class="grid-4">
                        @Html.Action("ChuDePartial", "ChuDe")
                    </div>
                    <div class="grid-4">
                        @Html.Action("NhaXuatBanPartial", "NhaXuatBan")-
                    </div>
                </div>
            </div>  
    </footer>

    
</body>
</html>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider({
            controlNav: false,
            nextText: '',
            prevText: '',
            effect: 'random',
            animSpeed: 400,
            pauseTime: 2000
        });
    });
</script>