

@using WebSiteBanSach.Models;
@using System.Diagnostics;
@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<h2>ChiTietDonHang</h2>
<table id="divGioHang table">
    <tr>
        <td>Ngày đặt</td>
        <td>Tên sách</td>

        <td>Ảnh bìa</td>

        <td>Đơn giá</td>

        <td>Số lượng</td>
    </tr>

    @{
        foreach (var ele in Model)
        {

            <tr>
                <td>@ele.GetType().GetProperty("NgayDat").GetValue(ele, null)</td>

                <td>@ele.GetType().GetProperty("TenSach").GetValue(ele, null)</td>

                <td>

                <img src="@Url.Content("~/HinhAnhSach/"+@ele.GetType().GetProperty("AnhBia").GetValue(ele,null))" width="50" height="50" /></td>

                <td>
                    @string.Format("{0:0,0}", @ele.GetType().GetProperty("DonGia").GetValue(ele, null)) VNĐ
                </td>

                <td>@ele.GetType().GetProperty("SoLuong").GetValue(ele, null)</td>


            </tr>
        }

    }

</table>
  <style>
      td {
          padding: 10px;
      }
      table#divGioHang\ table {
          width: 100%;
          
      }
      tbody {
          background: #fff;
          /* margin: 10px; */
      }
  </style>